@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 96.1%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 88 53% 54%;
    --primary-foreground: 240 6% 10%;
    --secondary: 0 0% 90%;
    --secondary-foreground: 240 6% 10%;
    --muted: 0 0% 90%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 88 43% 69%;
    --accent-foreground: 240 6% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 100%;
    --ring: 88 53% 54%;
    --chart-1: 0 72% 51%;
    --chart-2: 216 77% 51%;
    --chart-3: 47 91% 58%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 88 53% 54%;
    --sidebar-primary-foreground: 240 6% 10%;
    --sidebar-accent: 88 43% 69%;
    --sidebar-accent-foreground: 240 6% 10%;
    --sidebar-border: 0 0% 89.8%;
    --sidebar-ring: 88 53% 54%;
  }
  .dark {
    --background: 240 6% 10%;
    --foreground: 0 0% 98%;
    --card: 240 5% 14%;
    --card-foreground: 0 0% 98%;
    --popover: 240 6% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 260 70% 65%;
    --primary-foreground: 240 6% 10%;
    --secondary: 240 4% 18%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 4% 18%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 260 70% 75%;
    --accent-foreground: 240 6% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 4% 20%;
    --input: 240 4% 20%;
    --ring: 260 70% 65%;
    --chart-1: 0 72% 51%;
    --chart-2: 216 77% 51%;
    --chart-3: 47 91% 58%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 6% 10%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 260 70% 65%;
    --sidebar-primary-foreground: 240 6% 10%;
    --sidebar-accent: 260 70% 75%;
    --sidebar-accent-foreground: 240 6% 10%;
    --sidebar-border: 240 4% 20%;
    --sidebar-ring: 260 70% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
